body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightskyblue;
}
.gallery{
    display :flex;
    flex:wrap;
    justify-content: space-around;
    padding: 20px;
}
.gallery_item{
    width: 200px;
    margin: 10px;
    border-radius: 60px;
    overflow: hidden;
}
.gallery_item img{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    border-radius: 60px;
}
.gallery_item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.982);
}